.section-title {
  width: 100%;
  border-bottom: 1px solid #DADADA;
  margin: 0;
  padding: 23px 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-title {
    padding: 28px 0;
    font-size: 18px;
  }
}