.form__input {
  padding: 5px 0px 10px;
  border: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #424242;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  transition: border-color .3s ease-in-out;
}

.form__input:focus {
  outline: none;
  border-color: #4285F4;
}