.about-me {
  background: #202020;
  padding: 89px max(70px, (100% - 1140px) / 2) 102px;
}

.about-me__info {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  gap: 270px;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  color: #fff;
}

.about-me__prof {
  margin: 0;
  padding: 19px 0 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

.about-me__description {
  margin: 0;
  max-width: 590px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

.about-me__link {
  display: block;
  padding-top: 100px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.about-me__avatar {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  width: 270px;
  height: 327px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about-me {
    padding: 69px max(50px, (100% - 1140px) / 2) 90px;
  }

  .about-me__info {
    padding-top: 66px;
    gap: 40px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
  }

  .about-me__prof {
    padding: 15px 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__avatar {
    width: 255px;
    height: 304px;
  }

  .about-me__link {
    padding-top: 88px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-me {
    padding: 14px 14px 70px;
  }

  .about-me__info {
    flex-direction: column-reverse;
    padding-top: 60px;
    gap: 38px;
  }

  .about-me__avatar {
    width: 292px;
    height: 352px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.2px;
  }

  .about-me__prof {
    padding: 18px 0 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__link {
    padding-top: 40px;
  }
}